.portfolio {
  position: relative;
  background-image: url("../../assets/img/IMG_4014.JPG");
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 500px;
}
.portfolio::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 36, 71, 0.85);
}
